.PreFinalStory {
    align-self: center;
    height: 100%;
    width: 100%;

    .content {
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
    }

  



    .loader {
        align-self: center;
        position: absolute;
        width: 140%;
        bottom: 17%;
        z-index: -1;
    }


}