.MonthTransactionsStory {
    align-self: center;
    height: 100%;
    width: 100%;

    .content {
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-bottom: 24px;
    }

    .calendar {
        height: 200px;
        margin: -50px 0 -10px;
    }

    .stars {
        position: absolute;
        bottom: -50px;
        width: 380px;
    }

    .chip {
        margin-top: 8px;
        color: #FFC700;
    }

    .flex {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;

    }

    .gradient {
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: 120px;
        letter-spacing: -6px;
        width: min-content;
    }
}