.TopTokenStory {
    //height: calc(100% - 104px);
    height: 100%;

    .content {
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    p {
        color: white;
        text-align: center;
    }


    .tokensBlock {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-self: flex-start;
        //margin-bottom: 56px;

        .tokensChips {
            flex-wrap: wrap;
            display: flex;
            gap: 4px;

            .tokenChip {
                margin-right: 10px;
            }
        }
    }

    .statsBlock {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .flex {
            position: absolute;

            .total {
                font-size: 48px;
                font-weight: 700;
                line-height: 64px;
            }
        }

        .donut {
            transform: scale(1.15);
            width: 100%;
            height: auto;
        }
    }

    .topChainBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-top: 60px;

        .text {
            align-self: flex-start;
            display: flex;
            gap: 16px;

            .color {
                width: 48px;
                height: 16px;
                border-radius: 80px;
                background: #0029FF;

            }
        }
    }
}