.NFTTransactionsStory {
    align-self: center;
    height: 100%;
    width: 100%;

    .content {
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
    }

    .textBlock {
        width: 100%;
        margin-bottom: 24px;

        .chip {
            right: 0;
            bottom: -18px;
            // width: auto;
            position: absolute;
        }

        span {

            font-size: 120px;
            font-style: normal;
            font-weight: 700;
            line-height: 120px;
            letter-spacing: -6px;
        }


        &.small {
            width: min-content;

            .chip {
                left: 90%;
                width: max-content;
            }
        }

        position: relative;
    }



    .line {
        align-self: center;
        position: absolute;
        width: 100%;
        bottom: 27%;
        z-index: -1;
    }


}